{{ define "main" }}
<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="columns is-multiline">
                    {{ $paginator := .Paginate (where .Site.RegularPages.ByDate "Type" "podcast") 6 }}
                    {{ range $paginator.Pages.ByWeight }}
                        <div class="column is-4">
                            <div class="blog-container box" style="height: 100%;">
                                <a href="{{ .Permalink }}">
                                <div class="blog-image-container">
                                    {{ .Params.podcast_embed | safeHTML }}
                              </div>
                                  <div class="card-content">
                                    <h1 class="page-title is-5 has-text-black">{{ .Title }}</h2>
                                    <a href="{{ .Permalink }}" class="readmore">Read More</a>
                                  </div>
                              </a>
                              </div>
                        </div>   
                    {{ end }}
                    </div>
                    {{ partial "templates/pagination" . }}
            </div>
        </div>
    </div>
</div>
{{ end }}

