@font-face {
    font-family: moon;
    src: url("/fonts/MoonTime-Regular.otf");
  }

/* GLOBAL */

html {
    scroll-behavior: smooth;
}

.big-section {
    padding: 8rem 1.5rem;
}

body h1.cursive,
body h2.cursive {
    font-family: moon;
}

a.primary-btn {
    background: #FDC6DA;
    padding: 15px 35px;
    color: #fff;
}

a.secondary-btn {
    background: transparent;
    border: 2px solid black;
    padding: 15px 35px;
    color: #000;
}

input.input,
textarea.textarea {
    border-bottom: 1px solid #f16397;
    border-radius: 0;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    outline: none;
    box-shadow: none;
    background: #f6f6f6;
    -webkit-appearance: none;
}

body h1.subtitle,
body h2.subtitle,
body h3.subtitle,
body h4.subtitle,
body h5.subtitle,
body h6.subtitle {
    font-family: 'Oswald', sans-serif;
    color: rgba(0,0,0,1);
    line-height: 1.2;
    letter-spacing: 0em;
    font-size: 34px;
    font-weight: 400;
    font-style: normal;
}

a.readmore {
    color: #f16397;
    border-bottom: 1px solid #FDC6DA;
    padding-bottom: 10px;
}

h1.page-title,
.content h1.title,
.content h2.title,
.content h3.title,
.content h4.title,
.content h5.title,
.content h6.title {
    font-family: 'Montserrat', sans-serif;
}

body p,
body li,
body a,
body .content p,
time,
small,
strong,
em {
    font-family: 'Poppins', sans-serif;
    line-height: 2;
}

/* NAVBAR */

a.navbar-link:not(.is-arrowless)::after {
    border-color: #000;
}

div.hero-head {
    background: rgba(255,255,255,0.7);
}

div .navbar-item img {
    max-height: 100%;
}

div.top-bar {
    background: #fdd1d6;
    padding: 10px;
}

div.navbar-dropdown {
    background: #F8F8F8;
    border-radius: 0;
    border-top: none;
}

/* HERO */

div.hero-container {
    background: rgba(241, 241, 241, 0.5);
    padding: 20px;
}

div.hero-container div.border {
    border: 1px solid #f1bb9a;
    padding: 20px;
}

div.hero-body h1.title.cursive {
    font-size: 5em;
}

/* FEATURED */

div.featured__container {
    background: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)),url("/uploads/paint2.jpg") no-repeat 5%;
    background-size: cover;
}

div.featured {
    height: 400px;
    transition: .3s;
    padding: 12px;
}

div.featured:hover {
    opacity: .7;
    transition: .3s;
}

div.featured-border {
    border: 3px solid #E8B6B0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ABOUT */

div.about__container .cursive {
    font-size: 6rem;
}

/* COLUMN */

div.inner-column {
    padding: 120px 20px;
}

div.inner-column .cursive {
    background: rgba(255,255,255,0.5);
    padding: 50px 10px;
}

/* FOOTER */

footer.footer {
    background: #ffdbe8;
}

/* PAGINATION */
/* PAGINATION */

.pagination li a {
    transition: all .3s ease;
    color: #f16397;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
}

.pagination li:hover a {
    background: #ffdbe8;
    transition: all .3s ease;
}

ul.pagination {
    justify-content: center;
}

li.page-item {
    padding: 2px;
    font-size: 14px;
}

.pagination-next,
.pagination-previous {
    background: transparent;
}

a.pagination-link, a.pagination-next, a.pagination-previous {
    border-color: transparent;
}

li.page-item.active {
    border-bottom: 1px solid #ffdbe8;
}

li.page-item.disabled {
    display: none;
}

/* BLOG */

div ul.categories {
    margin-left: 0;
}

ul.categories li {
    display: inline-block;
}

ul.categories li a {
    color: #f16397;
}

/* SHARE BUTTONS */

div#share-buttons a {
    color: #f16397;
    margin: 10px;
}