{{ define "main" }}
<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-three-fifths is-offset-one-fifth has-text-centered">
                {{ if .Params.title }}
                <h1 class="title is-1 cursive has-text-weight-light">{{ .Params.title }}</h1>
                {{ end }}
                {{ if .Params.body_text }}
                <p>{{ .Params.body_text }}</p>
                {{ end }}
            </div>
        </div>
        <hr>
    </div>
    
</div>
<div class="section">
    <div class="container">
        <div class="columns is-multiline is-variable is-4">
            {{ range .Params.ebooks }}
                <div class="column is-4">
                    <div class="card" style="height:100%">
                        <a href="{{ .link }}" target="_blank">
                            <img src="{{ $.Site.Params.cloudinary_url }}{{ .image }}" alt="E-books by Konjay" style="height: 250px;object-fit:cover;width:100%">
                            <h4 class="title is-4 has-text-centered pb-4 pl-2 pr-2 pt-2" style="color:#DC9F9F;font-weight:600;font-size:18px">{{ .heading }}</h4>
                        </a>
                    </div>
                </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}