{{ partial "global/head" . }}
{{ partial "global/navbar.html" . }}
<div class="background-image" style="background:linear-gradient(rgba(219,174,174,0.5),rgba(219,174,174,0.5)),url({{ .Site.Params.cloudinary_url }}{{ .Site.Data.design.pages.background_image }}) no-repeat center;background-size:cover;padding-top:50px;padding-bottom:50px">
    <div class="section">
        <div class="container">
            <div class="columns">
                <div class="column has-text-centered">
                    <h1 class="title is-2 is-size-4-mobile has-text-white is-uppercase has-text-weight-normal">{{ if in .Permalink "podcast" }}Winning with Konjay Podcast{{ else }}{{ replace .Name "-" " " | title }}{{ end }}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<main>
{{ block "main" . }}

{{ end }}
</main>
{{ partial "global/footer.html" . }}