{{ define "main" }}
<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-three-fifths is-offset-one-fifth has-text-centered">
                {{ if .Params.heading }}
                <h1 class="title is-1 cursive has-text-weight-light">{{ .Params.heading }}</h1>
                {{ end }}
                {{ if .Params.body }}
                <p>{{ .Params.body }}</p>
                {{ end }}
            </div>
        </div>
        <hr>
    </div>
    
</div>
<div class="section">
    <div class="container">
        <div class="columns is-multiline is-variable is-4">
            {{ range .Params.testimonials }}
                <div class="column is-4">
                    <div class="box" style="height:100%">
                        <p>{{ .testimonials | markdownify }}</p>
                        <em style="color:#DC9F9F;font-weight:600;font-size:18px">- {{ .name }}</em>
                    </div>
                </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}