<div class="about__container pb-6">
    <div class="columns">
        <div class="column is-4">
           <div class="bg-about" style="background:url(/uploads/konjay.png)no-repeat top;height:80vh;background-size:cover"></div>
        </div>
        <div class="column is-6">
            <div class="content mt-6">
                <h1 class="title is-1 cursive has-text-weight-light">Hi guys! I'm Konjay…</h1>
                <h2 class="subtitle is-4 is-uppercase mt-4">Winning with Konjay</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <br>
                <a href="" class="primary-btn">Read More</a>
            </div>
        </div>
    </div>
</div>