<div class="background-cta" style="background:linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)),url(/uploads/minimaldesk2.jpg)no-repeat center;background-size:cover;padding: 200px 50px">
    <div class="section">
        <div class="container">
            <div class="columns is-vcentered has-text-centered">
                <div class="column is-half is-offset-one-quarter">
                    <h2 class="subtitle is-3 has-text-centered cursive">Buy my stuff</h2>
                    <br>
                    <a href="" class="secondary-btn">Search</a>
                </div>
            </div>
        </div>
    </div>
</div>