<div class="big-section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="inner-column">
                    <h2 class="title cursive is-3 has-text-centered">Beats by Nkenge</h2>
                </div>
            </div>
            <div class="column">
                <div class="inner-column">
                    <h2 class="title cursive is-3 has-text-centered">The Power of Goal Setting</h2>
                </div>
            </div>
            <div class="column">
                <div class="inner-column">
                    <h2 class="title cursive is-3 has-text-centered">Success Tips</h2>
                </div>
            </div>
        </div>
    </div>
</div>