<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Winning With Konjay</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
        <link rel="stylesheet" href="{{.Site.BaseURL}}css/styles.css">

<!-- FAVICON -->
<link rel="shortcut icon" href="{{ .Site.Data.design.branding.favicon }}" />
{{ $content := .Site.Data.design.under_construction_page }}

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <section class="hero is-fullheight" style="background:linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)),url({{ $.Site.Params.cloudinary_url }}{{ $content.background_image }}) no-repeat center;background-size:cover">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
         {{ if $content.logo }} <img src="{{ $.Site.Params.cloudinary_url }}{{ $content.logo }}" alt="Winning with Konjay" width="{{ $content.logo_width }}"> {{ end }}
          <h1 class="title is-3 cursive has-text-weight-normal" style="color: #BB7575">{{ $content.heading }}</h1>
          <p>{{ $content.body_text }}</p>
              <script src="https://cdn.logwork.com/widget/countdown.js"></script>
              <a href="https://logwork.com/countdown-2r4y" class="countdown-timer" data-style="columns" data-timezone="America/New_York" data-date="2020-12-03 12:00" data-digitscolor="#dbaeae">-</a>
        </div>
      </div>
          

</section>
    </body>
</html>