<div class="big-section featured__container">
    <div class="container">
        <div class="columns is-variable is-8 featured__wrap">
            <div class="column">
                <div class="featured">
                    <div class="featured-border">
                        <h3 class="title is-3">Title</h3>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="featured">
                    <div class="featured-border">
                        <h3 class="title is-3">Title</h3>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="featured">
                    <div class="featured-border">
                        <h3 class="title is-3">Title</h3>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="featured">
                    <div class="featured-border">
                        <h3 class="title is-3">Title</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>