<section class="hero is-large" style="background:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.1)),url(/uploads/bg.jpg) no-repeat center;background-size:cover">
{{ partial "global/navbar" . }}
  
<div class="hero-body">
  <div class="container has-text-centered">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <div class="hero-container">
          <h1 class="title cursive is-1 has-text-weight-normal">Winning with Konjay</h1>
          <p class="subtitle">
            DISCOVER YOUR INNER HAPPINESS
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
  </section>