<section class="hero is-medium" style="background:linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0)),url({{ .Site.Params.cloudinary_url }}{{ .Site.Data.home.hero_image.image }}) no-repeat center;background-size:cover">
{{ partial "global/navbar" . }}
  
<div class="hero-body">
  <div class="container has-text-centered">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <div class="hero-container">
          <div class="border">
            <h1 class="title cursive is-1 has-text-weight-normal">{{ .Site.Data.home.hero_image.heading }}</h1>
            <p class="subtitle">
              {{ .Site.Data.home.hero_image.subtitle }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </section>